* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}
.navbar {
	background-image: linear-gradient(to right, rgba(16, 38, 78), rgba(0, 156, 214));
	height: 4vh;
	width: 100%;
}
.navbar a {
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin: 1vh 0;
	text-decoration: none;
	color: white;
	opacity: 0.7;
}
.navbar-menu {
	display: flex;
	justify-content: flex-end;
	position: column;
}
.navbar-menu li {
	list-style: none;
	margin: 0 10px;
	font-size: 10px;
}
.logo-container {
	width: 100%;
	height: 80px;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	display: flex;
	justify-content: space-between;
}
.logo-img {
	width: 210px;
	height: 105px;
	margin-top: -10px;
}
.navbar-options {
	display: flex;
	justify-content: flex-end;
}
.navbar-options li {
	list-style: none;
	margin: 30px 8px;
}
.navbar-options a {
	text-decoration: none;
	color: #000;
	opacity: 0.6;
	font-weight: bold;
	font-size: 14px;
}
.products h1 {
	text-align: center;
	margin: 40px 0;
	color: #009CD6;

}
.products-list {
	display: flex;
	justify-content: center;
	align-items: center;
}
.products-detail {
	/*border: 2px solid black;*/
	width: 700px;
	height: 550px;
	margin: 10px;
	line-height: 25px;
}
.title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.products-detail h2 {
	text-align: center;
	color: #68BC87;;
	margin: 20px 10px;
}
.products-detail p {
	color: #000;
	opacity: 0.8;
	font-weight: regular;
	text-align: center;
	font-size: 15px;
	width: 600px;
	margin: auto;
}
.options {
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin: 30px 40px;
}
.options button {
	width: 200px;
	height: 50px;
	font-size: 20px;
	border-radius: 10px;
	border: 0;
	color: #009CD6;
	transition: all 0.3s ease;
}

/*.options label {
	font-size: 30px;
	font-weight: bold;
	color: #009CD6;
}*/
.option-label {
	margin: 10px 5px;
}
.shopping-cart {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: red;
	border: 0;
	/*float: right;*/
	margin-left: 100px;
}
.confirm-button {
	float: right;
	margin: 0 50px;
	width: 170px;
	height: 50px;
	border-radius: 10px;
	border: 0;
	background-color: #FFB300;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	transition: all 0.5s ease;
}
#shopping-img {
	opacity: 0.8;
}
.confirm-button:hover {
	background-color: #10264E;
	cursor: pointer;
}
.confirm-option {
	color: #000;
	opacity: 0.8;
	text-align: center;
	margin: 0 0 20px 0;
	font-weight: bold;
	height: 50px;
	/*float: right;*/
}
.contacts ul {
	/*border: 2px solid black;*/
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.contacts li {
	list-style: none;
	text-align: center;
	color: #009CD6;
}
.contacts li p {
	text-align: left;
}
.contacts li h5 {
	font-size: 30px;
}
.contact-subtext {
	font-size: 10px;
}
.whatsapp-img {
	width: 30px;
}
.footer {
	width: 100%;
	height: 200px;
	background-color: #0087B9;
	text-align: center;
}
.footer-image {
	position: absolute;
	text-align: center;
	margin: auto;
}
.footer img {
	width: 300px;
	margin: 20px;
}









